.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  padding: 92px 48px 0;
}

@media screen and (max-width: 1024px) {
	.photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
	.photo-grid {
    padding-top: calc((100vw - 320px) / (768 - 320) * (88 - 64) + 64px);
    padding-left: calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px);
    padding-right: calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px);
    gap: calc((100vw - 320px) / (768 - 320) * (16 - 12) + 12px);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
