.places__image {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 544px) {
  .places__image {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}