.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: calc((100vw - 320px) / (768 - 320) * (90 - 66) + 66px);
  }
}

.cover__background {
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: calc((100vw - 320px) / (768 - 320) * (480 - 200) + 200px);
  }
}

.cover__background::before {
  position: absolute;
  background: #2a2c2f;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover__background:hover::before {
  opacity: 0.8;
}

.cover__title {
  z-index: 10;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (72 - 32) + 32px);
    line-height: calc((100vw - 320px) / (768 - 320) * (76 - 35) + 35px);
  }
}

.cover__subtitle {
  z-index: 10;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px 0 0;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: calc((100vw - 320px) / (768 - 320) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px) / (768 - 320) * (22 - 16) + 16px);
    margin-top: calc((100vw - 320px) / (768 - 320) * (32 - 16) + 16px);;
  }
}