.cover {
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: calc((100vw - 320px) / (768 - 320) * (90 - 66) + 66px);
  }
}