.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px);
    padding-right: calc((100vw - 320px) / (768 - 320) * (24 - 16) + 16px);
  }
}

@media screen and (max-width: 544px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
  }
}
